[
    {cloudwatch_logger, [
        {logger,
            [
                {handler, aws_cloudwatch_logger, cloudwatch_logger, #{
                    level => info,
                    config => #{
                        cloudwatch_group => <<"GROUP_NAME_HERE">>,
                        cloudwatch_stream => <<"STREAM_NAME_HERE">>,
                        upload_batch_max_size => 50,
                        upload_batch_inteval_ms => 5000,
                        upload_failed_retry_count => 3,
                        upload_failed_retry_delay_ms => 1000
                    },
                    formatter => {
                        logger_formatter, #{
                            single_line => true,
                            template => [pid, " ", mfa,":",line, " => ", msg],
                            time_offset => "Z"
                        }
                    },
                    filters => [
                        %{remote_group_leader, {fun logger_filters:remote_gl/2, stop}},
                        %{progress, {fun logger_filters:progress/2, stop}},
                        %{sasl, {fun logger_filters:domain/2, {stop, sub, [otp, sasl]}}}
                    ]
                }}
            ]}
    ]},

    {erlaws, [
        {access_key, <<"AWS_ACCESS_KEY_HERE">>},
        {secret_key, <<"AWS_SECRET_KEY_HERE">>},
        {default_region, <<"AWS_DEFAULT_REGION">>} % example: us-east-1
    ]}
].
